<?xml version="1.0"?>

<launch>


  <arg name="from_topic" default="/desherborator/joint_states"/>
  <arg name="to_topic" default="/joint_states"/>
  <arg name="laser_topic" default="/laser_scan"/>
   

  <node name="regulation" pkg="desherborator_control" type="regulation.py" output="screen"/>
  <include file="$(find desherborator_gazebo)/launch/garden.launch" />
  <include file="$(find desherborator_description)/launch/desherborator_gazebo_robot.launch" />
  <node name="remap_frame_topics" pkg="topic_tools" type="relay" args="$(arg from_topic) $(arg to_topic)"/>
  <node name="SLAM" pkg="gmapping" type="slam_gmapping" args="$(arg laser_topic)"/>
</launch>
