<launch>
  
  <node name="weed_generator" pkg="desherborator_gazebo" type="weed_generator.py" args="$(find desherborator_gazebo)/model/"/>


  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find desherborator_gazebo)/world/garden.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
  
  <!-- Load the SDF into the ROS Parameter Server -->
  <param name="weed"
    textfile="$(find desherborator_gazebo)/model/model.sdf" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="sdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-sdf -model garden -file $(find desherborator_gazebo)/model/model.sdf"/>


  

</launch>
