<launch>

  <node name="weed_generator" pkg="desherborator_gazebo" type="weed_generator.py" args="$(find desherborator_gazebo)/model/"/>
  <node name="weed_detection" pkg="desherborator_gazebo" type="weed_detection.py" args="$(find desherborator_gazebo)/model/" output="screen" />

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find desherborator_gazebo)/world/garden.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- node_name="weed_detection" pkg="desherborator_gazebo" type="weed_detection.py" args="$(find desherborator_gazebo)/model/ -->

</launch>
