<?xml version="1.0" ?>
<robot name="unit_cylinder">
  <link name="weed">
    <inertial>
      <mass value="1"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder length="0.1" radius="{}"/>
      </geometry>
    </visual>
  </link>
	<gazebo reference="weed">
    <turnGravityOff>true</turnGravityOff>
    <static>true</static>
  <visual>
    <material>
      <ambient>0 1 0.3 1</ambient>
      <diffuse>0 1 0 1</diffuse>
      <specular>0 1 0 1</specular>
      <emissive>0 0 0 1</emissive>
    </material>
  </visual>
  </gazebo>
</robot>
