<?xml version="1.0"?>
<!-- Here are defined the materials used for defining the robot in the simulation
    Author : Elodie NOELE -->


<robot name="desherborator" xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo reference="Chassis">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="RoueG">
    <mu1>1.2</mu1>
    <mu2>1.2</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <material>Gazebo/Purple</material>
  </gazebo>

  <gazebo reference="RoueD">
    <mu1>1.2</mu1>
    <mu2>1.2</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <material>Gazebo/Purple</material>
  </gazebo>

  <gazebo reference="RoueF">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
    <material>Gazebo/Purple</material>
  </gazebo>

  <gazebo reference="Mat">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="BrasC1">
    <material>Gazebo/Turquoise</material>
  </gazebo>

  <gazebo reference="BrasC2">
    <material>Gazebo/Turquoise</material>
  </gazebo>

  <gazebo reference="BrasC3">
    <material>Gazebo/Turquoise</material>
  </gazebo>

  <gazebo reference="BrasS1">
    <material>Gazebo/Turquoise</material>
  </gazebo>

  <gazebo reference="BrasS2">
    <material>Gazebo/Turquoise</material>
  </gazebo>
</robot>
