<?xml version="1.0"?>

<robot name="desherborator" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:include filename="$(find desherborator_description)/urdf/desherborator.joint.xacro"/>
  <!--<xacro:include filename="$(find desherborator_description)/urdf/desherborator.link.xacro"/>
  <xacro:include filename="$(find desherborator_description)/urdf/desherborator.materials.xacro"/>
  <xacro:include filename="$(find desherborator_description)/urdf/desherborator.sensor.xacro"/>
    -->  

</robot>
