<?xml version="1.0"?>
<robot name="desherborator" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="ChassisHeight" value="0.2"/>
    <xacro:property name="ChassisWidth" value="0.2"/>
    <xacro:property name="cameraSize" value="0.1"/>
    <xacro:property name="wheelRadius" value="0.15"/>
    <xacro:property name="wheelWidth" value="0.1"/>
    <xacro:property name="PI" value="3.1459"/>
    <xacro:macro name="default_inertial" params="mass">
        <inertial>
        <mass value="${mass}" />
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
        </inertial>
    </xacro:macro>
</robot>

