<?xml version="1.0"?>
<robot name="desherborator_parameters" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="chassisHeight" value="0.2"/>
    <xacro:property name="chassisWidth" value="0.3"/>
    <xacro:property name="cameraSize" value="0.1"/>
    <xacro:property name="lidarRadius" value="0.3"/>
    <xacro:property name="lidarLength" value="0.4"/>
    <xacro:property name="laserRadius" value="0.025"/>
    <xacro:property name="laserLength" value="0.15"/>
</robot>

