<?xml version="1.0"?>
<robot name="desherborator" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Base Chassis -->
  <link name="base_link"/>

  <!-- Link Chassis -->
  <link name="Chassis">
    <collision>
      <origin xyz="0 0 .1" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.3 0.2"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 .1" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.3 0.2"/>
      </geometry>
    </visual>

    <xacro:default_inertial mass="2.0"/>
  </link>

  <!-- Link Roue -->
  <!-- link Roue Folle -->
  <link name="RoueF">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>

    <xacro:default_inertial mass="0.01"/>
  </link>

  <!-- link Roue Gauche -->
  <link name="RoueG">
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
      <geometry>
        <cylinder radius="0.15" length="0.1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
      <geometry>
        <cylinder radius="0.15" length="0.1"/>
      </geometry>
    </visual>

    <xacro:default_inertial mass="0.3"/>
  </link>

  <!-- link Roue Droite -->
  <link name="RoueD">
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
      <geometry>
        <cylinder radius="0.15" length="0.1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
      <geometry>
        <cylinder radius="0.15" length="0.1"/>
      </geometry>
    </visual>

    <xacro:default_inertial mass="0.3"/>
  </link>

  <!-- link Mat -->
  <link name="Mat">
    <collision>
      <origin xyz="0.1 0 0.3" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.2"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.2"/>
      </geometry>
    </visual>

    <xacro:default_inertial mass="0.1"/>
  </link>

  <!-- link Bras -->
  <!-- link Bras Cylindre 1 -->
  <link name="BrasC1">
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <cylinder radius="0.01" length="0.25"/>
    </geometry>
  </collision>

  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <cylinder radius="0.01" length="0.25"/>
    </geometry>
  </visual>

    <xacro:default_inertial mass="0.1"/>
  </link>

  <!-- link Dummy Bras Cylindre 1 -->
  <link name="BrasC1dummy">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.001" length="0.001"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.001" length="0.001"/>
      </geometry>
    </visual>

    <xacro:default_inertial mass="0.001"/>
  </link>
  
  <!-- link Bras Cylindre 2 -->
  <link name="BrasC2">
    <collision>
      <origin xyz="0 0 0" rpy="0 ${PI/2} ${PI/2}"/>
      <geometry>
        <cylinder radius="0.01" length="0.3"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 ${PI/2} ${PI/2}"/>
      <geometry>
        <cylinder radius="0.01" length="0.3"/>
      </geometry>
    </visual>

    <xacro:default_inertial mass="0.01"/>
  </link>

  <!-- link Bras Cylindre 3 -->
  <link name="BrasC3">
    <collision>
      <origin xyz="0 0 0" rpy="0 ${PI} 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 ${PI} 0"/>
      <geometry>
        <cylinder radius="0.01" length="0.1"/>
      </geometry>
    </visual>

    <xacro:default_inertial mass="0.01"/>
  </link>

  <!-- link Bras Sphere 1 -->
  <link name="BrasS1">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </visual>

    <xacro:default_inertial mass="0.01"/>
  </link>

  <!-- link Bras Sphere 2 -->
  <link name="BrasS2">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </visual>

    <xacro:default_inertial mass="0.01"/>
  </link>
</robot>
